* {
    font-family: 'K2D', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #ededed;
    position: relative;
    margin: 0;
}

.main_section {
    background-color: #ffffff;
    margin: 10px;
    margin-bottom: 75px;
    padding: 55px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.navbar-brand {
    color: #ffffff !important;
    background-color: #00b1a8;
    margin-left: 115px !important;
}

.navbar-brand:hover {
    color: #ffffff !important;
    background-color: #00b1a8 !important;
    opacity: .5 !important;
}

.main_image {
    margin: 25px;
    width: 45%;
    height: auto;
}

.focus_image{
	width: 75%;
	margin-top: 5px;
	margin-bottom: 15px;
	margin-left: 12.5%;
	margin-right: 12.5%;
	height: auto;
}

.side_image {
    width: 46%;
    height: auto;
    margin: 2%;
}

.side_image:hover {
    opacity: .5;
}

.active_image {
    border-style: solid;
    border-color: #00b1a8;
    border-width: 3px;
}

.compare_image{
	width: 100%;
	height: auto;
}

.page_header {
    color: #00b1a8;
}

.compare_header{
	text-align: center;
}

#footer {
    background-color: #666666;
    border-style: solid;
    border-color: #00b1a8;
    border-top-width: 5px;
    color: #ffffff;
    text-align: center;
    height: 50px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

@media (max-width: 991px) {
    .side_image {
        width: 25%;
        height: auto;
        margin: 1%;
    }
}